.ad-detail-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ad-detail-container h1, .ad-detail-container h3 {
  text-align: left;
  width: 100%;
}

.ad-detail-container h3 {
  color: #888;
  margin-bottom: 20px;
}

.ad-image-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.ad-image-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent; /* Make background transparent */
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777777;
  font-size: 80px;
  opacity: 0.4; /* Set initial opacity */
}

.ad-image-button:hover {
  opacity: 0.8; /* Increase opacity on hover */
}

.ad-image-button-prev {
  left: 10px;
}

.ad-image-button-next {
  right: 10px;
}

.ad-detail-image {
  width: 100%;
  height: auto;
  display: block;
}

.ad-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.ad-author, .ad-price, .offer-button {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.ad-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.ad-price {
  font-size: 1.5em;
  font-weight: bold;
}

.offer-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.offer-button:hover {
  background-color: #0056b3;
}

.ad-description {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}
