.ad-detail-container {
  padding: 20px;
}

.ad-title {
  background-color: #bde4ea;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: inline-block;
  text-align: left;
}

.ad-category {
  background-color: #bde4ea;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  text-align: left;
  margin-bottom: 10px;
}

.ad-image-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad-detail-image {
  width: 100%;
  max-height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.image-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.image-nav-button:hover {
  background: rgba(255, 255, 255, 1);
}

.image-nav-button.prev {
  left: 10px;
}

.image-nav-button.next {
  right: 10px;
}

.ad-info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.ad-author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.ad-author, .ad-price, .offer-button {
  background-color: #bde4ea;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.ad-price {
  margin-left: auto;
}

.offer-button {
  cursor: pointer;
  border: none;
}

.ad-description {
  background-color: #a7e5ef;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
}
